
.tetris{
    width: 400px;
    margin: 0;
    padding: 0;
    // height: 400px;
    margin: auto;
    display: flex;
    .gameplay, .score{
        width: 200px;
        height: 400px;
        // border: 3px solid red;
     
    }
    .score{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: start;
    }
   

}
#start{
    width: 45px;
    height: 50px;
}
.gameplay{
    display: flex;
    flex-wrap: wrap;
    background-color: cyan;
   
    div{
        height: 20px;
        width: 20px;
    }
}
.tetromino{
    background-color: blue;
}
.mini-grid{
    width: 80px; 
    height: 80px;
    display: flex;
    flex-wrap: wrap;
    background-color: cyan;
    margin-left: 50px;
}
.mini-grid div{
    height: 20px;
    width: 20px;
}
// .square-block{
//     border: 2px solid darkblue;
//     width: 5px;
//     height: 5px;
// }
// .angle, .square, .reverse-angle, .stick, .trident, .small-angle, .small-reverse-angle{
//     margin: 0;
// }

// .first-angle{
//     position: absolute;
//     left: 105%;
   
// }
// .square{
//     display: grid;
//     grid-template-columns: 9px 50px;
// }

// .first-reverse-an{
// position: absolute;
// left: -105%;
// }

// .trident{
//     display: flex;
// }

// .first-trident{
//     position: absolute;
//     bottom: 90%;
//     left: 31.5%;

// }


// .first-small-a, .second-small-a{
//     display: flex;
// }
// .second-small-a{
//     position: absolute;
//     left: 47.1%;
// }

// .first-small-b, .second-small-b{
//     display: flex;
// }
// .first-small-b{
//     position: absolute;
//     left: -47.1%;
//     top: 95%;
// }